<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> <%= @user.last_name %>,</h1>
    <p>
      You received this email because there was a request to reset 
      <br/>
      your password for CoLedger.
    </p>
    <p>If it was you, please follow the link below and make the change</p>
    <p>If not, just ignore this link!</p>
    <p>
    <%= @url %>.
    </p>
    <p>Thank you and have a great day!</p>
    <p>CoLedger Team.</p>
    <p>P/s: Please do NOT reply to this email!</p> 
  </body>
</html>
