<h2>
  <span editable-text="account.name" e-form="accountNameForm" onaftersave="updateAccount()">
    {{ account.name }}
  </span>
  <button class="btn btn-default" ng-click="accountNameForm.$show()" ng-hide="accountNameForm.$visible">
    <i class="fa fa-pencil"></i>
  </button>
</h2>
<a href="#/projects/{{ project.id }}">Back to <strong>{{ project.name }}</strong></a>
<hr>
<div class="row lists">
  <div class="col-md-3" ng-repeat="list in account.lists">
    <accounts-list list="list" project="project" account="account" transactions="transactions"></accounts-list>
  </div>
  <div class="col-md-3">
    <accounts-new-list></accounts-new-list>
  </div>
</div>
