<div ng-controller="MainController">
  <header></header>
  <div flash-alert active-class="in" class="alert fade" duration="5000">
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message">{{ flash.message }}</span>
  </div>

  <div class="container view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>
<footer>
  <hr>
  <div class="container">
    <p>&copy; 2015 CoLedger, a collaborative project by Anton Abilov, Ryan Zhou, Siyi Wu, Hoàng Phúc Phạm and Seacen Zhao.</p>
  </div>
</footer>
