<nav class="navbar navbar-inverse navbar-coledger">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><span class="co">Co</span>Ledger</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Projects</a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
        <li ng-controller="UserPanelController" class="dropdown" on-toggle="toggled(open)">
          <a href="javascript:void(null)" class="dropdown-toggle">
            <i class="fa fa-user"></i> Hello, {{ currentUser.first_name }} (@{{ currentUser.username }})
            <span class="glyphicon" ng-class="isOpen ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'">
            </span>
          </a>
          <ul class="dropdown-menu user-panel">
            <li>
              <div class="clearfix">
                <div class="col-md-4 text-center">
                  <img class="user-image img-rounded" src="https://www.gravatar.com/avatar/{{ currentUser.email_digest }}?s=50&d=retro" />
                </div>
                <div class="col-md-8">
                  <ul class="list-unstyled">
                    <li><a href="#/users/edit_profile">Edit profile</a>
                    <li><a href="">Some action</a></li>
                </div> 
              </div>
              <div class="clearfix user-signout">
                <div class="col-md-12">
                  <a href="#/users/sign_out" class="btn btn-danger btn-block">Sign out</a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!currentUser">
        <li><a href="#/users/sign_in">Sign in</a></li>
        <li><a href="#/users/sign_up">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
