<h2>Projects</h2>

<form ng-submit="createProject(createProjectForm)" name="createProjectForm" id="createProjectForm" sf-schema="schema" sf-form="form" sf-model="project">
</form>
<hr>

<div class="list-group">
  <div ng-repeat="project in projects">
    <a ng-href="#/projects/{{ project.id }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ project.name }}</h4>
      <p class="list-group-item-text">{{ project.created_at | date}} {{ project.currency.name }}</p>
    </a>
  </div>
</div>
