<h2>Welcome to CoLedger</h2>
<hr>

<div class="flipster">
    <ul>
        <li><%= image_tag asset_path('screenshots/members.png') %></li>
        <li><%= image_tag asset_path('screenshots/projects.png') %></li>
        <li><%= image_tag asset_path('screenshots/transactions.png') %></li>
        <li><%= image_tag asset_path('screenshots/admin.png') %></li>
    </ul>
</div>
