.lists {
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 400px;
  height: auto;
  white-space: nowrap;
  margin: 0px;

  > [class*="col-lg"], > [class*="col-md"], > [class*="col-sm"] {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 1px;
  }
}

.list {
  white-space: initial;
  border: none;
  box-shadow: none;

  .panel-heading {
    padding: 15px 10px;
  }

  .panel-title input {
    width: 150px;
  }

  .panel-title form.editable-text {
    margin: -10px 0;
  }

  .panel-body {
    padding: 10px;
  }
}

.list.list-red {
  > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  > .panel-body {
    background-color: mix(#f2dede, #fff, 33%);
  }
}

.list.list-green {
  > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  > .panel-body {
    background-color: mix(#dff0d8, #fff, 33%);
  }
}

.list.list-blue {
  > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  > .panel-body {
    background-color: mix(#d9edf7, #fff, 33%);
  }
}

.list.list-gray {
  > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
  > .panel-body {
    background-color: mix(#f5f5f5, #fff, 33%);
  }
}

.list.list-orange {
  > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  > .panel-body {
    background-color: mix(#fcf8e3, #fff, 33%);
  }
}

.well.transaction {
  padding: 10px;
  margin: 5px 0;
  border-left-width: 5px;
  border-left-color: #aaa;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .name {

  }
  .amount {
    text-align: right;
    float: right;
    font-family: Courier, monospace;
  }
  .description {
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input {
    margin: 0;
    padding: 0;
    box-shadow: none!important;
    border: none!important;
    height: 20px;
  }

  .form-group {
    margin: 0;
    padding: 0;
  }

  .input-group-addon {
    background: none;
    border: none;
    padding: 2px 0 0 10px;
  }
}
