body {
  padding-top: 20px;
}

footer {
  margin-top: 80px;
  margin-bottom: 40px;

  p {
    color: #999;
  }
}
.project {
  .title {
    font-size: 24px;
    color: #000;
  }
  .members img {
    margin-right: 5px
  }
}

.project-description {
  font-size: 16px;
}

.nav-stacked {
  width: 240px;
  float:left;
}

.tab-content {
  width: 900px;
  padding-left: 40px;
  float: left;
}
nav {
  .user-panel {
    margin-top: 0px !important;
    width: 250px;
    padding: 10px 20px;
    .user-image {
      width: 50px;
    }
    .user-signout {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }
  }
  .glyphicon {
    color: #b2dbfb;
  }
}

.has-success input[type="radio"] {
  box-shadow: none;
  -webkit-box-show: none;
}
