@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  padding-top: 20px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 80px;
  margin-bottom: 40px;

  p {
    color: #999;
  }
}
.project {
  .title {
    font-size: 24px;
    color: #000;
  }
  .members img {
    margin-right: 5px
  }
}

.project-description {
  font-size: 16px;
}

.nav-stacked {
  width: 240px;
  float:left;
}

.tab-content {
  width: 900px;
  padding-left: 40px;
  float: left;
}
nav.navbar-coledger {
  background-color: #222;
  color: white;
  border-radius: 0px;
  .navbar-nav {
    > li {
      > a, a:focus {
        background-color: #222;
        color: white;
        &:hover, &:focus {
          color: #b2dbfb;
        }
      }
      &.active > a, &.active > a:focus, &.active > a:hover {
        background-color: black;
        color: #b2dbfb;
        font-weight: bold;
      }
    }
    > .open > a, > .open a:focus {
      background-color: black;
      &:hover {
        background-color: black;
        color: #b2dbfb;
      }
    }
  }
  .navbar-brand {
    color: white;
    .co {
      color: #b2dbfb;
    }
  }
  .user-panel {
    margin-top: 0px !important;
    width: 250px;
    padding: 10px 20px;
    .user-image {
      width: 50px;
    }
    .user-signout {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }
  }
  .glyphicon {
    // color: ;
  }
}

.has-success input[type="radio"] {
  box-shadow: none;
  -webkit-box-show: none;
}
