
body {
  padding-top: 100px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

footer {
  margin-top: 80px;
  margin-bottom: 40px;

  p {
    color: #999;
  }
}
.project {
  .title {
    font-size: 20px;
    color: #000;
  }
  .members img {
    margin-right: 5px
  }
}

.project-description {
  font-size: 16px;
}

.tab-content {
  padding-top: 20px;
}

nav.navbar-coledger {
  background: #333;

  .navbar-brand {
    color: white;
    .co {
      color: #b2dbfb;
    }
  }
  .user-panel {
    margin-top: 0px !important;
    width: 250px;
    padding: 10px 20px;
    .user-image {
      width: 50px;
    }
    .user-signout {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }
  }
  .glyphicon {
    // color: ;
  }
}

.alert-fixed-top {
  top: 64px;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 1000;
}

.has-success input[type="radio"] {
  box-shadow: none;
  -webkit-box-show: none;
}

.has-success .radio-inline {
  color: #333;
}

.well {
  border: 1px solid #EEE;
  box-shadow: none;
  background: #fcfcfc;
  border-radius: 5px;
  h4 {
    margin-top: 0px;
  }
}

.red-scheme {
  color: #ebccd1;
}

.green-scheme {
  color: #d6e9c6;
}

.blue-scheme {
  color: #bce8f1;
}

.gray-scheme {
  color: #ddd;
}

.orange-scheme {
  color: #faebcc;
}

.editable-click {
  text-decoration: none;
  color: inherit!important;
  border-bottom: dashed 1px #aaa;
}

.editable-empty {
  opacity: 0.5;
}
