<div class="row">
  <div ng-controller="EditProfileController" class="col-md-7">
    <h3>Edit Profile</h3>
    <form ng-submit="submitForm(editProfileForm)" name="editProfileForm" id="editProfileForm" sf-schema="schema" sf-form="form" sf-model="user">
    </form>
  </div>
  <div ng-controller="EditPasswordController" class="col-md-5">
    <h3>Edit Password</h3>
    <form ng-submit="submitForm(editPasswordForm)" name="editPasswordForm" id="editPasswordForm" sf-schema="schema" sf-form="form" sf-model="user">
    </form>
  </div>
</div>