<h2>Sign Up</h2>
<a href="/#/users/sign_in">Already have an account? Sign in</a>
<hr>

<form ng-submit="submitForm(form)" name="form">
  <div class="alert alert-danger" ng-show="alert" role="alert">{{ alert }}</div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="form.username" id="username" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" ng-model="form.password" id="password" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" ng-model="form.email" id="email" required>
  </div>
  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" ng-model="form.first_name" id="first_name" required>
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" ng-model="form.last_name" id="last_name" required>
  </div>
  <button type="submit" class="btn btn-default">Sign Up</button>
</form>
