<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Sign Up</h2>
    <a href="/#/users/sign_in">Already have an account? Sign in</a>
    <hr>

    <form ng-submit="submitForm(signUpForm)" name="signUpForm" id="signUpForm">
      <div class="alert alert-danger" ng-show="signUpForm.errorMessages.length">
        <ul>
          <li class="alert-message" ng-repeat="message in signUpForm.errorMessages">{{ message }}</li>
        </ul>
      </div>
      <auto:fields fields="schema" data="user" options="options"></auto:fields>
      <hr>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
