<h4>Comments</h4>
<div class="well comment" ng-repeat="comment in comments | limitTo:limit">
  <div class="row">
    <div class="avatar col-sm-2">
      <img src="https://www.gravatar.com/avatar/{{ comment.user.email_digest }}?s=32&d=retro"
        class="img-rounded" tooltip="{{ comment.user.username}}" />
    </div>
    <div class="main col-sm-10">
      <div class="author">{{ comment.user.first_name }} {{ comment.user.last_name }} <date>{{ comment.created_at | amCalendar }}</date></div>
      <div class="content">{{ comment.content }}</div>
    </div>
  </div>
</div>
<div class="well comment" ng-show="limit < comments.length">
  <a href ng-click="showAll()">Show all {{ comments.length }} comments...</a>
</div>
<div class="well comment" style="border-bottom: none">
  <div class="row">
    <div class="avatar col-sm-2">
      <img src="https://www.gravatar.com/avatar/{{ currentUser.email_digest }}?s=32&d=retro"
        class="img-rounded" />
    </div>
    <div class="main col-sm-10">
      <div class="author">{{ currentUser.first_name }} {{ currentUser.last_name }} <date></date></div>
      <form name="form" class="form-vertical" ng-submit="createComment(form)">
        <div class="form-group">
          <input type="text" class="form-control" name="content" ng-model="comment.content" placeholder="Post a new comment..." autocomplete="off">
        </div>
        <div class="form-group">
          <button name="submit" class="btn btn-primary" ng-show="comment.content.length">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
