<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">
    <span editable-text="transaction.name" onaftersave="updateTransaction()" e-form="transactionNameForm">{{ transaction.name }}</span>
    <button class="btn btn-xs btn-default" ng-click="transactionNameForm.$show()" ng-hide="transactionNameForm.$visible">
      <i class="fa fa-pencil"></i>
    </button>
  </h3>
  <p>
    <span editable-textarea="transaction.description" e-rows="3" e-cols="80" onaftersave="updateTransaction()" >
      {{ transaction.description || 'Edit description...' }}
    </span>
  </p>
</div>
<div class="modal-body">
  <div class="row transaction-detail">
    <div class="col-sm-4">
      <h6>Amount</h6>
      <div class="detail-value">
        <span editable-text="transaction.amount.decimal" onaftersave="updateTransaction()">{{ transaction.amount.formatted || "Add an amount..." }}</span>
      </div>
    </div>
    <div class="col-sm-4">
      <h6>Due date</h6>
      <div class="detail-value">
        <input type="text" class="form-control pickadate" pick-a-date="transaction.parsed_due_date" placeholder="Add a due date...">
        <a href ng-click="clearDueDate()" ng-show="transaction.parsed_due_date" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Clear</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h6>Assignee</h6>
      <div class="detail-value">
        <span editable-select="transaction.assignee_username" e-form="assigneeForm" e-ng-options="m.user.username as m.user.first_name + ' ' + m.user.last_name for m in memberships" onaftersave="updateTransaction()">
          <div ng-show="transaction.assignee"><img class="img-rounded" src="https://www.gravatar.com/avatar/{{ transaction.assignee.email_digest }}?s=24&d=retro"></img> {{ transaction.assignee.first_name }} {{ transaction.assignee.last_name }}</div>
        </span>
        <div ng-hide="transaction.assignee || assigneeForm.$visible">
          <a href ng-click="assigneeForm.$show()" class="btn btn-xs btn-primary">Assign to someone...</a>
        </div>
        <div ng-show="transaction.assignee && !assigneeForm.$visible">
          <a href ng-click="assigneeForm.$show()" class="btn btn-xs btn-primary">Edit assignee</a> <a href ng-click="removeAssignment()" class="btn btn-xs btn-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-7">
      <transactions-comments></transactions-comments>
    </div>
    <div class="col-sm-5">
      <h4>Attachments</h4>
      <div class="attachment" ng-repeat="attachment in attachments">
        <div class="row" ng-hide="attachment.confirmDelete">
          <div class="col-sm-10">
            <i class="fa fa-file"></i> <a href="{{ attachment.expiring_url }}" target="_blank">{{ attachment.original_filename }}</a> ({{ attachment.size | bytes }})
          </div>
          <div class="col-sm-2">
            <a href ng-click="confirmDeleteAttachment(attachment)" class="danger"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div ng-show="attachment.confirmDelete">
          Are you sure? <a href ng-click="deleteAttachment(attachment)" class="danger">Delete this file</a> or
          <a href ng-click="cancelDeleteAttachment(attachment)">cancel</a>
        </div>
      </div>
      <h6>Upload a new file</h6>
      <div class="attachment" ng-hide="isUploading">
        <form class="form" name="attachmentForm">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-control">
                <input type='file' ng-model='attachment.file' base-sixty-four-input>
              </div>
            </div>
            <div class="col-sm-3">
              <a href ng-click="uploadAttachment()" class="btn btn-primary btn-mini" ng-disabled="!attachment.file"><i class="fa fa-cloud-upload"></i></a>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="isUploading">
        <div>Uploading...</div>
        <div class="progress progress-striped active" style="height: 20px; border-radius: 5px;">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <h4>Delete transaction</h4>
  <div ng-show="confirmDelete">
    <p><strong>Are you sure?</strong> All comments and attachments will be permanently lost.</p>
    <p><a href ng-click="deleteTransaction()" class="btn btn-danger">Confirm</a> <a href ng-click="confirmDelete = false" class="btn btn-default">Cancel</a></p>
  </div>
  <div ng-hide="confirmDelete">
    <div>No longer want this transaction? <a href ng-click="confirmDelete = true" class="danger">Delete this transaction</a></div>
  </div>
</div>
<div class="modal-footer">
</div>
