<div class="accounts" ng-show="accounts.length">
  <div class="list-group">
    <a ui-sref="projects.accounts.show({project_id: project.id, id: account.id})" class="list-group-item" ng-repeat="account in accounts">
      <h5 class="list-group-item-heading">
        {{ account.name }}
        <small><span class="label label-default">{{ account.account_type | uppercase }}</span></small>
      </h5>
    </a>
  </div>
  <a href ng-click="newAccountModal()" class="btn btn-primary"><i class="fa fa-plus"></i> New Account</a>
</div>
<div class="well blankstate" ng-hide="accounts.length">
  <h4>This project doesn't have any account</h4>
  <p>Create an account now to get started.</p>
  <a href ng-click="newAccountModal()" class="btn btn-primary"><i class="fa fa-plus"></i> New Account</a>
</div>
