
<div class="well">
  <h4>Invite a member</h4>
  <p>You can add others to this project for collaboration.</p>
  <form ng-submit="addMember(addMemberForm)" name="addMemberForm" class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="newMembership.username" placeholder="Enter username..." typeahead="user.username for user in searchUsers($viewValue)" typeahead-template-url="components/user_typeahead.html" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add to this project</button>
    </div>
  </form>
</div>
<div class="members-list">
  <div class="member" ng-repeat="membership in project.memberships" id="membership-{{ membership.id }}">
    <div class="row">
      <div class="col-md-7">
        <div class="avatar">
          <img src="https://www.gravatar.com/avatar/{{ membership.user.email_digest }}?s=48&d=retro"
            class="img-rounded" tooltip="{{ membership.user.username}}" />
        </div>
        <div class="name">
          <div class="username">@{{ membership.user.username }}</div>
          <div class="fullname">{{ membership.user.first_name }} {{ membership.user.last_name }}</div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="role col-md-3">
        <form sf-schema="membershipSchema" sf-form="membershipForm" sf-model="membership" ng-if="membership.canEdit"></form>
        <form sf-schema="membershipSchema" sf-form="membershipFormReadonly" sf-model="membership" ng-if="!membership.canEdit"></form>
      </div>
      <div class="actions col-md-2">
        <a href class="btn btn-danger" ng-click="removeMember(membership)" ng-class="{ disabled: !membership.canDelete }">Remove</a>
      </div>
    </div>
  </div>
</div>
