<div class="modal-header">
  <h3 class="modal-title">New Project</h3>
</div>
<div class="modal-body">
  <error-messages></error-messages>
  <form ng-submit="createProject(createProjectForm)" name="createProjectForm" id="createProjectForm" sf-schema="schema" sf-form="form" sf-model="project">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createProject(createProjectForm)">Create Project</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
