<ul class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active">{{ project.name }}</li>
</ul>
<h2>
  <span editable-text="project.name" e-form="projectNameForm" onaftersave="updateProject()">
    {{ project.name }}
  </span>
  <button class="btn btn-default" ng-click="projectNameForm.$show()" ng-hide="projectNameForm.$visible">
    <i class="fa fa-pencil"></i>
  </button>
</h2>
<p class="project-description"><span editable-textarea="project.description" onaftersave="updateProject()" e-rows="4" e-cols="80">{{ project.description || 'Edit description...' }}</span></p>
<hr>
<tabset type="tabs">
  <tab heading="Accounts"><projects-accounts></projects-accounts></tab>
  <tab heading="Members"><projects-members></projects-members></tab>
  <tab heading="Profit/Loss"><balance-sheet type-in="income" type-out="expense" project-promise="projectPromise"></balance-sheet></tab>
  <tab heading="Balance Sheet"><balance-sheet type-in="asset" type-out="liability" project-promise="projectPromise"></balance-sheet></tab>
</tabset>
